
@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; font-family:"微软雅黑"}
a{ text-decoration:none}
li{ list-style:none}
img{ border:0;}

.clear{ height:0px; overflow:hidden; clear:both;}

.blank10{ height:10px; overflow:hidden;clear:both}
.blank20{ height:20px; overflow:hidden;clear:both}
.blank30{ height:30px; overflow:hidden; clear:both}
.width1000{ width:1000px; margin:auto}
.tr1s{ transition-duration:1s; -moz-transition-duration:1s;-webkit-transition-duration:1s;-o-transition-duration:1s;
 -ms-transition-duration:1s;  }
.tr2s{ transition-duration:2s; -moz-transition-duration:2s;-webkit-transition-duration:2s;-o-transition-duration:2s;
 -ms-transition-duration:2s;  }
 
/************顶部样式******************/
.in_top{ background:url(../images/bk01.gif) repeat-x; height:35px}
.in_top .width1000{ height:35px; position:relative;}
.in_top p{ font-size:12px; line-height:36px;  color:#747474}
.in_top .in_top_wbwx{ width:240px; position:absolute; right:0px; top:4px;}
.in_top .in_top_wbwx ul li{ float:left; padding:0px 28px; height:26px; line-height:26px;}
.wbicon{ background-image:url(../images/wbicon.gif); background-repeat:no-repeat; background-position:center left;}
.wxicon{ background-image:url(../images/wxicon.gif); background-repeat:no-repeat; background-position:center left;}
.in_top_wbwx ul li a{ font-size:12px; color:#666}
.in_top_wbwx ul li a:hover{ color:#67296a}
.in_top_wbwx ul .wbicon:hover{ background-image:url(../images/wbicon_2.gif);transition:ease 1s;}
.in_top_wbwx ul .wxicon:hover{ background-image:url(../images/wxicon_2.gif);transition:ease 1s; }

.in_logotel{ background:url(../images/bk02.gif) repeat-x; height:102px; overflow:hidden;}
.in_head_tel{ float:right; margin-right:60px; display:inline}
.in_head_logo{ float:left; margin-top:20px;}
.in_head_logo img{ display:block}
.in_nav{ background:url(../images/bk03.gif) repeat-x; height:42px;}

.in_nav ul li{ float:left; width:122px; line-height:42px; text-align:center; background:url(../images/bk18.png) no-repeat center right;}
.in_nav ul li a{ color:#FFF; font-size:16px; font-weight:bold}
.in_nav ul li a:hover{ text-decoration:underline; color:#f2c013}

.nav_havedown{ position:relative;_z-index:100000}
.nav_down_box{ display:none; position:absolute; left:0px; top:40px; z-index:10000000; min-width:96px;_width:100px; width:auto; background:#5a0152; padding:0px 10px 5px 25px; border-left:#5a0152 solid 1px}
.nav_down_box a{ display:block;  min-width:96px; _width:100px;white-space:nowrap; width:auto; height:42px; text-align:left; line-height:42px; font-size:14px!important; }

/*****banner**********/
.banner{ width:100%;max-height: 420px;_height:420px; overflow:hidden; position:relative; position:relative;}
#banscrollul li{ width:100%; max-height:420px; _height:420px;  background-position:center; background-size:cover;}
#banscrollul li a{ display:block; width:100%; max-height:420px;_height:420px;}

#ban_btn { position: absolute; z-index:200000;  width:200px; height:10px; bottom:20px; left:25%;}
#ban_btn li{float:left; width:16px; height:16px; overflow:hidden; background:#FFF; font-size:0px;   margin-left:20px; display:inline; border-radius:8px; cursor:pointer}
#ban_btn li.ban_btn_cur{ background:#782076;}

/*****特色项目*****/
.tsxm{ background:url(../images/bk04.png); width:1021px; height:87px; margin:auto; padding-top:10px;}

.tsxm ul{ margin-left:90px;}
.tsxm ul li{ float:left; padding:10px 15px; background:url(../images/bk19.gif) no-repeat center right }
.tsxm ul li a{ color:#FFF; font-size:14px; line-height:30px; font-weight:400}
.tsxm ul li a.tsxm_cur{ color:#f2c013}
.tsxm ul li .tsxm_zj{ display:block; width:188px;}

/************底部样式******************/
.foot_nav{ background:#292929; height:280px;} 
.foot_nav ul li{ float:left; margin-top:20px; padding-top:5px;  height:225px; width:128px; border-right:#353535 solid 1px; border-left:#222222 solid 1px;}
.foot_nav h2,.foot_nav h3{ text-align:center; line-height:26px;}
.foot_nav h2 a{ font-size:18px; color:#6b4672; text-align:center}
.foot_nav h3 a { font-size:12px; color:#676767; font-weight:normal;transition-duration:1s; -moz-transition-duration:1s;-webkit-transition-duration:1s;-o-transition-duration:1s;
 -ms-transition-duration:1s; }
.foot_nav h3 a:hover{ color:#FFF; text-decoration:underline}
.foot_nav ul li.hgrouplist3{ width:210px;}
.hgrouplist3 h3{ float:left; width:105px;}

.foot_mes{ height:130px; background:#111111; border-top:#292929 solid 1px;}

.foot_logo{ width:405px; height:80px; border-right:#262626 solid 1px; margin-top:20px; padding-top:10px; float:left}
.foot_logo a{ display:block; background:url(../images/foot_logo.png); width:371px; height:75px;}
.foot_logo a:hover{ background:url(../images/foot_logo_2.png)}
.foot_mes_right{ width:560px; overflow: hidden; float:left}
.foot_mes_nav{ width: 100%; height: 20px; overflow:hidden;  margin:30px 0px 0px 40px; }
.foot_mes_nav ul li{ float:left; border-left:#444 solid 1px; height:12px; line-height:12px; }
.foot_mes_nav ul li:first-of-type{ border:none}
.foot_mes_nav ul li a{ color:#444; font-size:12px; line-height:14px; padding:0px 8px; }
.foot_mes_nav ul li a:hover{ color:#fff; text-decoration:underline}
.foot_mes_lxwm address{ font-size:12px; color:#444; font-style:normal}
.foot_mes_lxwm{ width: 78%; margin-left:50px;font-size:12px; color:#444; line-height:22px;}


/***************常用公共样式*****************/

.inbody{ background:#f7f6f6}

.in_nr{ background:#fff; width:1021px; margin:auto; box-shadow: 0px 6px 6px #999999; overflow:hidden; padding-bottom:30px;}




/************左侧*******************/
.nr_aside{ float:left; overflow:hidden; width:230px; }
.nr_leftxm_list{ width:220px; overflow:hidden; margin:auto}
.nr_leftxm_list ul li h3{ font-size:14px; color:#fff;   text-align:center; height:42px; line-height:42px; background:url(../images/bk59.png) no-repeat center; margin:5px 0px;
 }
.nr_leftxm_list ul li h3 { color:#fff; cursor:pointer}
.nr_leftxm_list ul li hgroup{ margin:10px 0px;}
.nr_leftxm_list ul li h3.xm_h3_click{  background:url(../images/bk59.png) no-repeat center; color:#fff}
.nr_leftxm_list ul li h4{ font-size:12px; text-align:center; height:30px; font-weight:normal; line-height:30px; border:#d5d5d5 solid 1px; margin-top:2px; background:url(../images/bk60.png) no-repeat center right}
.nr_leftxm_list ul li h4 a{ color:#68208d;}
.nr_leftxm_list ul li h4 a:hover{ color:#a50cd7}
.nr_leftxm_list ul li hgroup{ display:none}


/*****************************/


.nr_leftrmzt,.nr_leftrmwz,.nr_leftlxwm{width:230px; overflow:hidden; margin:15px auto; overflow:hidden; position:relative}
.nr_leftrmzt h2,.nr_leftrmwz h2{ width:100%; height:42px; border-bottom:#382215  solid 1px; font-size:14px ; line-height:42px; }
.nr_leftrmzt h2 a,.nr_leftrmwz h2 a{ color:#000}
.nr_leftrmzt h2 span,.nr_leftrmwz h2 span{ font-weight:normal; padding-left:8px;}

#nr_leftrmzt_btn { position:absolute; top:18px;  right:10px;}
#nr_leftrmzt_btn li{ width:12px; height:12px; background:#4d3324; float:left; font-size:0px; color:#4d3324; margin:0px 5px; display:inline; border-radius:6px;}
#nr_leftrmzt_btn li.nr_leftrmzt_cur{ background:#48538b; color:#48538b}

.nr_leftrmzt_box{ width:230px; height:128px; overflow:hidden; position:relative;}
#nr_leftrmzt_ul{ width:1000px; position:absolute; left:0px;}
#nr_leftrmzt_ul li{ width:230px; height:128px; float:left; overflow:hidden;}


#nr_leftrmzt_tit li{position:absolute;  width:100%; height:26px; background:url(../images/bk50.png);bottom:0px; left:0px;  line-height:26px; text-align:center; font-size:12px;}
#nr_leftrmzt_tit li a{ color:#FFF}
#nr_leftrmzt_tit li a:hover{ text-decoration:underline}

.nr_leftrmwz_more{ position:absolute; top:14px; right:5px;}
.nr_leftrmwz_more a{ display:block; width:16px; height:16px; line-height:16px; text-align:center; border:#999  solid 1px; color:#999}
.nr_leftrmwz_more a:hover{ color:#782076; border:#782076 solid 1px;}
.nr_leftrmwz ul{ margin:10px 0px;}
.nr_leftrmwz ul li{ font-size:12px; height:28px; line-height:28px; padding-left:20px; background:url(../images/squleicon.png) no-repeat center left}
.nr_leftrmwz ul li a{ color:#666}
.nr_leftrmwz ul li a:hover{color:#782076; text-decoration:underline}


/*************项目咨询******************/

.in_zxrx{ width:170px; height:46px; padding-left:55px; font-weight:normal; font-size:20px; line-height:22px; background:url(../images/bk12.gif) no-repeat center left; margin:20px auto; color:#705393}
.in_mztime{ width:170px; height:46px; padding-left:55px;font-weight:normal;font-size:20px;line-height:22px; background:url(../images/bk13.gif) no-repeat center left;margin:20px auto;color:#705393}
.in_zxrx span,.in_mztime span{ font-size:16px; color:#999}

.in_zxyy a{ display:block; width:100px; height:32px; text-align:center; font-size:16px; line-height:32px; float:left; background:url(../images/bk15.gif); margin:10px 5px; color:#FFF;}
.in_zxyy a:hover ,.in_zxyy a.in_zxyycur{ background:url(../images/bk14.gif)}


/*********************项目新闻*******************/
.xmny_left{ width:660px; overflow:hidden; float:left}
.xmny_aside{ width:292px; float:left; margin-left:40px; display:inline}

.xm_list_ul li{ padding:20px 5px 0px; border-bottom:#4c4c4c dashed 1px;}
.xm_list_ul li h2{ font-weight:normal; font-size:14px; padding-left:20px; background:url(../images/bk22.png) no-repeat center left ; line-height:20px;}
.xm_list_ul li h2 a{ color:#9b7b17}
.xm_list_ul li h2 a:hover,.xm_list_ul li p a:hover{ color:#6b3f7e; text-decoration:underline} 
.xm_list_ul li p{ font-size:12px; line-height:26px; margin:15px 0px;}
.xm_list_ul li p a{ color:#9b7b17}


/***************分页样式***********************/
.pagestyle{ padding-left:20%; height:26px}
.pagestyle a{ color:#666; padding:2px 6px; font-size:12px; border:#dfdfdf solid 1px;}
.pagestyle span{ font-size:12px; padding:0px 10px; color:#666}

.pagestyle .now_page,.pagestyle a:hover{ border:#972277 solid 1px; color:#972277}



/**************项目内页右侧***********************/
.xmright_zjtj{ width:100%; position:relative; height:410px; overflow:hidden }
.xmright_rmzt,.xm_right_rmwz{width:100%; position:relative;overflow:hidden }
.xmright_zjtj h2,.xmright_rmzt h2,.xm_right_rmwz h2{width:100%; height:42px; border-bottom:#382215  solid 1px; font-size:14px ; line-height:42px; margin-bottom:10px;}
.xmright_zjtj h2 a,.xmright_rmzt h2 a,.xm_right_rmwz h2 a{ color:#000}
.xmright_zjtj span{ font-weight:normal; padding-left:8px;}
#xmright_zjtj_ul li{ border:#e2e2e2 solid 1px; overflow:hidden; width:290px; overflow:hidden; padding:0px 0px 10px; float:left }
#xmright_zjtj_ul{ position:absolute; width:10000px; left:0px;}
#xmright_zjtj_ul li h3{ width:260px; margin:auto; height:40px; line-height:40px; font-size:12px; font-weight:normal; padding-left:20px; border-bottom:#ababab solid 1px; color:#666}
#xmright_zjtj_ul li h3 a{ font-size:18px; color:#000; padding-right:10px;}
#xmright_zjtj_ul li p{ font-size:12px; line-height:26px; padding:10px; color:#333}
.xm_zxzx{ display:block; width:72px; height:24px; float:right; margin-right:20px; text-align: center; line-height:24px; font-size:12px; color:#fff; background:#7a0a75; border-radius:6px;}
.xm_zxzx:hover{ background:#af70fa}

.xmright_zjtj_btn { position:absolute; z-index:100000; top:12px; right:0px; width:60px;}
.xmright_zjtj_btn li{ width:22px; height:22px; float:left; background:#000; margin:0px 2px; display:inline; cursor:pointer}
.xmright_zjtj_btn li.zj_leftbtn{ background:url(../images/bk07.gif);}
.xmright_zjtj_btn li.zj_rightbtn{ background:url(../images/bk08.gif)}
.xmright_zjtj_btn li.zj_leftbtn:hover{background:url(../images/bk07_2.gif);}
.xmright_zjtj_btn li.zj_rightbtn:hover{ background:url(../images/bk08_2.gif)}

/************************************/

.xmright_rmzt{width:100%; overflow:hidden; margin:15px auto; overflow:hidden; position:relative}

#xmright_rmzt_btn { position:absolute; top:18px;  right:10px;}
#xmright_rmzt_btn li{ width:12px; height:12px; background:#4d3324; float:left; font-size:0px; color:#4d3324; margin:0px 5px; display:inline; border-radius:6px;}

#xmright_rmzt_btn li.xmright_rmzt_cur{ background:#48538b; color:#48538b}

.xmright_rmzt_box{ width:290px; height:164px; overflow:hidden; position:relative;}
#xmright_rmzt_ul{ width:1000px; position:absolute; left:0px;}
#xmright_rmzt_ul li{ width:290px; height:164px; float:left; overflow:hidden;}


#xmright_rmzt_tit li{position:absolute;  width:100%; height:26px; background:url(../images/bk50.png);bottom:0px; left:0px;  line-height:26px; text-align:center; font-size:12px;}
#xmright_rmzt_tit li a{ color:#FFF}
#xmright_rmzt_tit li a:hover{ text-decoration:underline}

.xm_right_rmwz_more{ position:absolute; top:14px; right:5px;}
.xm_right_rmwz_more a{ display:block; width:16px; height:16px; line-height:16px; text-align:center; border:#999  solid 1px; color:#999}
.xm_right_rmwz_more a:hover{ color:#782076; border:#782076 solid 1px;}
.xm_right_rmwz ul{ margin:10px 0px;}
.xm_right_rmwz ul li{ font-size:12px; height:28px; line-height:28px; padding-left:20px; background:url(../images/squleicon.png) no-repeat center left; position:relative}
.xm_right_rmwz ul li a{ color:#666}
.xm_right_rmwz ul li span{ position:absolute ; right:0px;}
.xm_right_rmwz ul li a:hover{color:#782076; text-decoration:underline}



/*************************/

.artical_span{ display:block; position:absolute}
