
.bodybk{ background: #e9e4fa;}
.this_wrap{ width: 986px; margin: 0 auto;}

.park01_left{ width: 590px; margin: 0px 20px;  float: left; display: inline;}
.park01_left p{ line-height: 26px; font-size: 14px; color: #666666;}
.park01_right {float:left; width: 320px; margin-left: 20px; display: inline;}

.park02 ul li{ width: 450px; height: 118px; border: #d5d5d5 solid 1px; float: left; margin:  15px;}
.park02 ul li h2{ margin:15px 10px ; float: left; width: 350px;  display: inline;  font-size: 20px; font-weight: normal; }
.park02 ul li i{ display: block; width: 45px; height: 45px; background: url(../images/bk01.png); 
line-height: 45px; text-align: center; color: #FFFFFF; float: left;
 margin: 15px; display: inline;
}


.park03 ul li{ position:relative; float: left; margin: 11px; width:222px; height:222px; overflow:hidden; display: inline;}
.park03 ul li .park03_span{ width:222px; height:222px; background:url(../images/artical01.png)}
.park03 ul li  h2{ position:absolute; height:36px; line-height:36px; text-align:center; width:222px; left:0px; bottom:20px; font-size:18px; color:#440041; font-weight:normal}
.park03 ul li a{ display:block; width:222px; height:222px; position:absolute; left:0px; top:0px;}